<ng4-loading-spinner> </ng4-loading-spinner>
<addnames (addName)="optimisticAdd($event)" (addNamePs)= "pasemisticAdd()"  ></addnames>
<h2>
  Users list
</h2>

<ul class="list-group">
 
  <li  class="list-group-item" *ngFor = "let key of usersKeys">
    <strong>Name:</strong> {{users[key].name}}<br><strong>Phone number:</strong> {{users[key].phone_number}} <br> 
    <strong>City:</strong>  {{users[key].city}}<br>
      <button class="btn btn-warning" [routerLink] = "['/updateform', key]">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    
  </li>
</ul>
