
<form [formGroup] = "addname" (ngSubmit) = "sendData()">
  
   <div>
       <label for="name">Name</label>
       <input type="text" name = "name" id = "name" class = "form-control" 
       formControlName = "name" value="{{user?.name}}" >
  </div>
   
   <div>
    <label for="phone">Mobile number</label>
    <input type="text" name = "phone" id = "phone"  class = "form-control"  
    formControlName = "phone" value="{{user?.phone_number}}">
  </div>

  <div>
    <label for="phone">City</label>
    <input type="text" name = "city" id = "city"  class = "form-control"  
    formControlName = "city" value="{{user?.city}}">
  </div>



  <input type="submit" value = "update" class = "btn btn-primary"> 
  </form>


  