<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive = "active current"> <a routerLink="">Home</a></li>
      <li routerLinkActive = "active current"> <a routerLink="/products">Products</a></li>
      <li routerLinkActive = "active current"> <a routerLink="/users">Users</a></li>
      <li routerLinkActive = "active current"> <a routerLink="/usersf">Firebase Users</a></li>
    </ul>
  </div>
</div>
</nav>