

<form  [formGroup] = "addname" (ngSubmit) = "sendData()" >
  
   <div>
       <label for="name">Name</label>
       <input type="text" name = "name" id = "name" class = "form-control" formControlName = "name"  >
       <div class= "red" *ngIf = "!addname.controls.name.valid"> It's a required field   </div>
  </div>
   <br> <br>
   
   
   
   <div>
    <label for="phone">Mobile number</label>
    <input type="text" name = "phone" id = "phone" class = "form-control" formControlName = "phone" >
    <div  class= "red" *ngIf = "!addname.controls.phone.valid"> It's a required field</div>
  </div>

  <div>
    <label for="city">City</label>
    <input type="text" name = "city" id = "city" class = "form-control" formControlName = "city" >
    <div class= "red" *ngIf = "!addname.controls.city.valid"> It's a required field</div>
  </div><br>

  <input type="submit" [disabled]= !addname.valid  value = "Add new name"  class = "btn btn-primary" id="leftbutton"> 
  </form>
