input [type='submit']:hover{
    background-color: #e4dcd1;
    }



input [type='submit']:disabled{
background-color: #192022;
}

form{
    width:42%;
    margin-left: 15px;
} 
.red{
    color:red;
}
#leftbutton{
   margin-left:150px; 
}